html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


body {
    margin-bottom: 60px;
    background-color: #8B0000;
    
}
h2  {
    margin: 0 0 0 60px;
}
table {
    text-align:center;
    margin: 0 0 0 60px;
    caption-side: bottom;
    border-collapse: collapse;
    border-width: 1px 0;
    border:1px;
}

table a {
    color: rgba(255, 238, 186, 1);
}

table a:hover {
    color: rgba(255, 238, 186, 1);
    background-size: 100% 2px;
}
TD, TH {
    padding: 5px; 
    border: 1px solid #fff; 
}
.content {
    max-height: 500px;
    text-align: left;
    line-height: 30px;
    border-bottom-color: rgba(255, 238, 186, 1);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.data {
    padding: 0px 0 0 0px;
    max
}
.data input{
    border-radius:10px;
    max-height:24px;
    
}
.container {
    color: rgba(255, 238, 186, 1);
    
}
.btn {
    margin: 0 0 0 450px;
}
.btn button {
    border-radius: 20px;
    text-transform: uppercase;
    background-color: rgba(128, 183, 179, 0.54);
    width: 100%;
    height: 44px;
    font-size: 14px;
    padding:0 30px 0 30px;
    margin: 20px 0px 0 0px;
    color: white;
    letter-spacing: 2.8px;
}

.btn button:hover {
    background-color: rgba(255, 199, 31, 1);
}

.btn btn:focus {
    background-color: #818181;
}

.tableAlgin{
    text-align:center;
}

.res {
    margin: 0 0 0 200px;
}
.Chart canvas{
    background-color:white;
    margin:10px 0 0 0;
}
a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

header a:hover {
    background-size: 100% 2px;
}
header li{
    
}
footer {
    
}

.Autorization{
    text-align:right;
    max-width:250px;
    margin: 100px 0 0 415px;
}
.Autorization input {
    max-height: 24px;
    line-height:15px;
}
.autorize {
    margin: 0 0 0 480px;
}
.autorize button {
    border-radius: 10px;
    text-transform: uppercase;
    background-color: rgba(128, 183, 179, 0.54);
    padding: 0 10px;
    width: 150px;
    height: 44px;
    font-size: 14px;
    box-shadow: 0px 6px 40px 0 #80b7b38a;
    margin: 10px 0 0 20px;
    color: white;
    letter-spacing: 2.8px;
}
.autorize button:hover {
    background-color: rgba(255, 199, 31, 1);
}
.Reglink {
    max-width:630px;
}
.Reglink a {
    margin: 0 0 0 510px;
    color: rgba(255, 238, 186, 1);
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.Reglink a:hover {
    color: rgba(2, 238, 186, 1);
    background-size: 100% 2px;
}