﻿@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form action="/Login/" method="post">
  <div class="Autorization">
        Log: 
        <input name="Email" value="Admin@gmail.com" autocomplete="off"/>
        <br />
        Pass:
        <input name="Password" type="password" value="admin" autocomplete="off"/>
  </div>
  <div class="autorize">
        <button type="submit">Войти </button>
  </div>
  <div class="Reglink">
      <a class="nav-link" asp-area="" asp-controller="Reg">Регестрация</a>
  </div>
</form>