﻿@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (!string.IsNullOrEmpty(@TempData["message"]?.ToString()))
{
    <div class="alert alert-danger">
        @TempData["message"]
    </div>
}
<body>
    <form action="/Home/Result" method="post">
        <div class="content">
            <div class="data">
                <h3>Введите расчетные данные</h3>
                Высота слоя (м):
                <input name="H" value="@Model.Variant?.H" placeholder="H" data-val="true" data-val-required="The Name field is required." />
                <br />
                Нач. температура окатышей (градусы):
                <input name="InitTempOfMaterial" value="@Model.Variant?.InitTempOfMaterial" placeholder="t" data-val="true" data-val-required="The Name field is required." />
                <br />
                Нач. температура воздуха (градусы):
                <input name="InitTempOfGas" value="@Model.Variant?.InitTempOfGas" placeholder="T" data-val="true" data-val-required="The Name field is required." />
                <br />
                Скорость вохдуха на свободное сечение шахты (м/с):
                <input name="GasVelocity" value="@Model.Variant?.GasVelocity" placeholder="Wr" data-val="true" data-val-required="The Name field is required." />
                <br />
                Средняя теплоёмкость воздуха при 200 градусах (кДж/(кг*К):
                <input name="AverageHeatOfGas" value="@Model.Variant?.AverageHeatOfGas" placeholder="Cr" data-val="true" data-val-required="The Name field is required." />
                <br />
                Расход окатышей:
                <input name="MaterialConsumption" value="@Model.Variant?.MaterialConsumption" placeholder="Расход окатышей" data-val="true" data-val-required="The Name field is required." />
                <br />
                Теплоёмкость окатышей:
                <input name="HeatOfMaterial" value="@Model.Variant?.HeatOfMaterial" placeholder="Теплоемкость окатышей" data-val="true" data-val-required="The Name field is required." />
                <br />
                Объемный коэффициент теплоотдачи:
                <input name="HeatCoefficient" value="@Model.Variant?.HeatCoefficient" placeholder="Объемный коэффицент" data-val="true" data-val-required="The Name field is required." />
                <br />
                Название варианта:
                <input name="Name" value="@Model.Variant?.Name" data-val="true" data-val-required="The Name field is required." />
            </div>
            <div class="btn">
                <button type="submit">Расчитать </button>
            </div>
        </div>
    </form>
    
    <h2>Варианты расчетных значений</h2>
    <div class="tableAlgin">
    <table>
        <tr>
            <td>Название врианта</td>
            <td>H</td>
            <td>t</td>
            <td>T</td>
            <td>Wr</td>
            <td>Cr</td>
            <td>Расход окатышей</td>
            <td>Теплоемкость окатышей</td>
            <td>Объемный коэффицент</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var variant in Model.Variants)
        {
            <tr>
                <td>@variant.Name</td>
                <td>@variant.H</td>
                <td>@variant.InitTempOfMaterial</td>
                <td>@variant.InitTempOfGas</td>
                <td>@variant.GasVelocity</td>
                <td>@variant.AverageHeatOfGas</td>
                <td>@variant.MaterialConsumption</td>
                <td>@variant.HeatOfMaterial</td>
                <td>@variant.HeatCoefficient</td>
                <td>
                    <a href="home/Index/?variantId=@variant.Id">Открыть</a>
                </td>
                <td>
                    <a href="home/Remove/?variantId=@variant.Id">Удалить</a>
                </td>
            </tr>
        }

    </table>
    </div>
</body>
