﻿@model TeploobmenOutput
@{
    ViewData["Title"] = "Home Page";
}
<div class="res">
    <table>
        <tr>
            <td>Y</td>
            <td>t</td>
            <td>T</td>
            <td>T-t</td>
        </tr>
        @foreach (var row in Model.Rows)
        {
            <tr>
                <td>@row.Y.</td>
                <td>@Math.Round(row.str6,2)</td>
                <td>@Math.Round(row.str7,2)</td>
                <td>@Math.Round(row.str8,2)</td>
            </tr>
        }
    </table>
</div>


<div class="Chart">
  <canvas id="myChart"></canvas>
</div>

<script src="/js/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

    const data = {
        labels: @Json.Serialize(Model.Rows.Select(x=>x.Y).ToList()),
        datasets: [
            {
                label: 'Температура метала',
                data: @Json.Serialize(Model.Rows.Select(x=>x.str6).ToList()),
            },
            {
                label: 'Температура газа',
                data: @Json.Serialize(Model.Rows.Select(x=>x.str7).ToList()),
            },
            {
                label: 'Разноссть температур',
                data: @Json.Serialize(Model.Rows.Select(x=>x.str8).ToList()),
            }
        ]
    };

  const configLine = {
  type: 'line',
  data: data,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'График'
      }
    }
  },
};
new Chart(ctx,configLine);
</script>