﻿@model TeploobmenInput
@{
    ViewData["Title"] = "Регистрация";
}
<form action ="/Reg"method="post">
    Введите Имя:
    <input name="Name" value="" autocomplete="off" data-val="true" data-val-required="Введите имя пользователя"  />
    Введите свой Email:
    <input name="Email" value="" autocomplete="off" data-val="true" data-val-required="Введите Email" />
    Введите пароль:
    <input name="Password" value="" autocomplete="off" data-val="true" data-val-required="Введите пороль" />
    <button type="submit"> Зарегистрироваться</button>
</form>

